<!-- Start Footer -->
<footer>
  <div class="container">
    <div class="row text-light text-center py-4 justify-content-center">
      <div class="col-sm-10 col-md-8 col-lg-6">
        <h4>Find us on our Socials</h4>
        <ul class="social pt-3">
          <li>
            <a href="#" target="-blank"><i class="fab fa-facebook"></i></a>
          </li>
          <li>
            <a href="#" target="-blank"><i class="fab fa-twitter"></i></a>
          </li>
          <li>
            <a href="#" target="-blank"><i class="fab fa-instagram"></i></a>
          </li>
          <li>
            <a href="#" target="-blank"><i class="fab fa-youtube"></i></a>
          </li>
        </ul>
        <p class="pt-4">
          &copy;
          <a
            href="https://www.ibm.com/uk-en?p1=Search&p4=43700052448841159&p5=e&gclid=CjwKCAjwt8uGBhBAEiwAayu_9RiWGlIK-td-ZExRQ7Ez-MLdqCXJbzrivRuE1uDkvki01kXlk2TFpxoCG-EQAvD_BwE&gclsrc=aw.ds"
            target="_black"
            >www.ibm.com</a
          >
        </p>
      </div>
    </div>
  </div>
</footer>

<!-- End Footer -->
