<!-- Navigation -->
<nav class="navbar bg-light navbar-light navbar-expand-lg">
  <div class="container">
    <a href="/indexloggedin" class="navbar-brand"
      ><img src="img/raccoon.png" alt="Logo" title="Logo"
    /></a>

    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarResponsive"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a href="/browseloggedin" class="nav-link <% if (page === 'browse') { %>active<% } %>"
            >Browse</a
          >
        </li>
        <li class="nav-item">
          <a href="/indexloggedin" class="nav-link <% if (page === 'about') { %>active<% } %>"
            >About</a
          >
        </li>
        <li class="nav-item">
          <a href="/eventsloggedin" class="nav-link <% if (page === 'events') { %>active<% } %>"
            >Events</a
          >
        </li>
        <li class="nav-item">
          <a
            href="/communitiesloggedin"
            class="nav-link <% if (page === 'communities') { %>active<% } %>"
            >Communities</a
          >
        </li>
        <li class="nav-item">
          <a href="/account" class="nav-link <% if (page === 'account') { %>active<% } %>"
            >Account</a
          >
        </li>
      </ul>
    </div>

    <div>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a href="/login" class="nav-link" style="font-weight: 500; font-size: 1.1rem">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- End Navigation -->
