<!DOCTYPE html>
<html lang="en">
  <%- include("partials/head") -%>

  <body>
    <%- include("partials/navigationloggedin", {page:"events"}); -%>

    <!-- End Navigation -->

    <div>
      <div class="site-wrap bg-light">
        <div class="site-section">
          <div class="container">
            <div class="col-12 text-center mt-2 bg-light">
              <h1 class="text-dark">Events</h1>
              <div class="border-top border-primary d-none d-lg-block w-25 mx-auto my-3"></div>
              <p class="lead pb-5">
                Find events run by groups and charities in your community and get involved
              </p>
            </div>
            <form action="addevent" method="POST">
              <div class="form-group">
                <label class="form-label">Event Name</label>
                <input
                  type="text"
                  class="form-control mb-1"
                  placeholder="Please type event name here..."
                  name="name"
                />
              </div>
              <div class="form-group">
                <label class="form-label">Description</label>
                <textarea
                  class="form-control"
                  rows="3"
                  placeholder="Type your description here..."
                  name="description"
                ></textarea>
              </div>
              <div class="form-group">
                <label class="form-label">Date of event</label>
                <input type="date" class="form-control mb-1" name="date" />
              </div>
              <div class="form-group">
                <label class="form-label">Postcode</label>
                <input
                  class="form-control mb-1"
                  type="text"
                  placeholder="Type the postcode of the event here..."
                  name="postcode"
                ></input>
              </div>

              <div class="col-12 text-center">
                <input
                  class="btn btn-sm btn-primary btn-block"
                  style="width: 100%; font-size: large"
                  style="border: none"
                  type="submit"
                  value="Save"
                />
                <input
                  action="action"
                  class="btn btn-sm btn-secondary btn-block"
                  style="width: 100%; font-size: large"
                  style="border: none"
                  value="Cancel"
                  onclick="history.go(-1);"
                />
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- Start Footer -->
    <%- include("partials/footer") -%>

    <!-- End Footer -->

    <!-- Script Source Files -->

    <!-- jQuery -->
    <script src="js/jquery-3.5.1.min.js"></script>
    <!-- Bootstrap 4.5 JS -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Popper JS -->
    <script src="js/popper.min.js"></script>
    <!-- Font Awesome -->
    <script src="js/all.min.js"></script>

    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/jquery-ui.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/aos.js"></script>

    <script src="js/main.js"></script>

    <!-- End Script Source Files -->
  </body>
</html>
