<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Re-Share</title>
	<link rel="shortcut icon" href="img/favicon.ico">
	<!-- Bootstrap 4.5 CSS -->
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<!-- Style CSS -->
	<link rel="stylesheet" href="css/style.css">
	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&display=swap" rel="stylesheet">
</head>

<body>

	<!-- Navigation -->
	<nav class="navbar bg-light navbar-light navbar-expand-lg">
		<div class="container">

			<a href="/indexloggedin" class="navbar-brand"><img src="img/raccoon.png" alt="Logo" title="Logo"></a>

			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav">
					<li class="nav-item"><a href="browse" class="nav-link">Browse</a></li>
					<li class="nav-item"><a href="indexloggedin" class="nav-link">About</a></li>
					<li class="nav-item"><a href="events" class="nav-link">Events</a></li>
					<li class="nav-item"><a href="communities" class="nav-link active">Communities</a></li>
					<li class="nav-item"><a href="account" class="nav-link">Den</a></li>
				</ul>
			</div>
			<div>
				<ul class="navbar-nav">
					<li class="nav-item"><a href="/login" class="nav-link"
							style="font-weight: 500; font-size: 1.1rem;">Logout</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<!-- End Navigation -->

	<div class="site-wrap bg-light">
		<div class="site-section">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<img src="img/books.jpg" alt="Image" class="img-fluid">
					</div>
					<div class="col-md-6 pt-3">
						<h2 class="text-black">Books</h2>
						<p>Book swap community. We are community all about swapping books and sharing reccomendations.
							We have members spanning the country and events are held all over. You are bound to find
							people near you. Feel free to join below.</p>
						<p><a href="/communityform" class="buy-now btn btn-sm btn-primary">Request to join</a></p>

					</div>
				</div>
			</div>
		</div>


		<!-- Start Fixed Background IMG -->

		<div class="fixed-background">
			<div class="fixed-wrap">
				<div class="fixed"></div>
			</div>
		</div>


		<!-- Start Footer -->
		<footer>
			<div class="container">
				<div class="row text-light text-center py-4 justify-content-center">

					<div class="col-sm-10 col-md-8 col-lg-6">
						<h4>Find us on our Socials</h4>
						<ul class="social pt-3">
							<li><a href="#" target="-blank"><i class="fab fa-facebook"></i></a></li>
							<li><a href="#" target="-blank"><i class="fab fa-twitter"></i></a></li>
							<li><a href="#" target="-blank"><i class="fab fa-instagram"></i></a></li>
							<li><a href="#" target="-blank"><i class="fab fa-youtube"></i></a></li>
						</ul>
						<p class="pt-4">&copy; <a
								href="https://www.ibm.com/uk-en?p1=Search&p4=43700052448841159&p5=e&gclid=CjwKCAjwt8uGBhBAEiwAayu_9RiWGlIK-td-ZExRQ7Ez-MLdqCXJbzrivRuE1uDkvki01kXlk2TFpxoCG-EQAvD_BwE&gclsrc=aw.ds"
								target="_black">www.ibm.com</a></p>
					</div>
				</div>
			</div>
		</footer>

		<!-- End Footer -->

		<!-- jQuery -->
		<script src="js/jquery-3.5.1.min.js"></script>
		<!-- Bootstrap 4.5 JS -->
		<script src="js/bootstrap.min.js"></script>
		<!-- Popper JS -->
		<script src="js/popper.min.js"></script>
		<!-- Font Awesome -->
		<script src="js/all.min.js"></script>


		<script src="js/jquery-3.3.1.min.js"></script>
		<script src="js/jquery-ui.js"></script>
		<script src="js/popper.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/owl.carousel.min.js"></script>
		<script src="js/jquery.magnific-popup.min.js"></script>
		<script src="js/aos.js"></script>

		<script src="js/main.js"></script>

		<!-- End Script Source Files -->
</body>

</html>